body {
  background: url("https://static.pexels.com/photos/6663/desk-white-black-header.jpg") no-repeat center center fixed;
  background-size: cover;
}

.mainBodyStyle {
  display: flex;
  justify-content: center;
}
