.pomodoro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding-top: 15px;
  padding-bottom: 25px;
}

.counterContainer {
  display: flex;
  justify-content: space-around;
}

.label {
  text-align: center;
}

.flip-clock-wrapper {
  max-width: 460px;
  margin: 3em auto 2em;
  display: flex;
  justify-content: center;
}

.subContainer {
  display: flex;
  justify-content: center;
}

.colMd {
  display: flex;
  justify-content: center;
  height: 34px;
  align-items: center;
}

.counter {
  display: flex;
  justify-content: center;
}

.clock{
  margin-top: 30px;
}

.container {
  width: 500px;
}

.middle{
    display:inline-block;
}

.btns{
  display: flex;
  justify-content: center;
}

.stop {
  margin-left: 10px;
  margin-right: 10px;
}

.button {
  background-color: #333333;
  color: #CCCCCC;
}

.stats {
  background-color: #333333;
  width: 220px;
  height: 70px;
  border-radius: 10px;
  color: #CCCCCC;
  font-size: 45px;
  text-align: center;
}

.statRow {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
